*{
    margin: 0;
    padding: 0;
}

body{
    background-image:url("https://imgs.search.brave.com/_PUUkV5qGWULjZo7dOeOWQSoJeD3OXOUCT53JB2QY8U/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJjYXZlLmNv/bS93cC93cDg5ODQ3/MjIuanBn");
    text-align: center;
    background-size: contain;
}
#new-Btn{
    margin-bottom: 1000px;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7;
}
#reset-Btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}
#new-Btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: darkslategrey ;
    color: wheat;
    border-radius: 1rem;
    border: none;
}
#new-Btn:hover {
    background-color: #ddd; 
    color: #333; 
    cursor: pointer; 
}

#reset-Btn:hover {
    background-color: #ddd;
    color: #333; 
    cursor: pointer; 
}
#msg{
 
    
    color: #ffffc7;
    font-size: 5vmin;
    position: relative;
    animation-name: swetagame;
    animation-duration: 2s;
    animation-iteration-count: 3;
}
@keyframes swetagame {
    from{
        width: 200px;
    }
    to{
        width: 400px;
    }
    
}
#msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
#msg{
    color:#87164c;
    font-size: 70px;
    animation-name: sweta;
  
}
.hide{
    display: none;
}
h1{
    font-size: 90px;
    text-decoration: underline;
}